@font-face {
  font-family: fairplayDisplay;
  src: url(./assets/PlayfairDisplayVariable.ttf) format("truetype");
}

@font-face {
  font-family: quicksand;
  src: url(./assets/QuicksandVariable.ttf) format("truetype");
}

/* CSS RESET */

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}
ul,
li,
ol {
  padding-left: 0;
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
}

body {
  font-family: quicksand, sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.home-link {
  font-family: fairplayDisplay, serif;
  font-size: 28px;
  font-weight: 400;
}

.hero-container {
  height: 740px;
}

.hero-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.new-arrivals {
  padding: 40px;
}

.new-arrivals-title,
.new-arrivals-description {
  text-align: center;
}

.new-arrivals-title {
  font-size: 32px;
  font-weight: 400;
}

.product-list {
  display: grid;
  max-width: 1200px;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 40px;
  margin-top: 40px;
}

.product-list img {
  aspect-ratio: 1 / 1;
  width: 100%;
  object-fit: contain;
  padding: 40px;
  background-color: rgb(240, 240, 240);
}

.product-title {
  font-size: 16px;
  font-weight: 500;
  margin-top: 10px;
}

.product-price {
  font-size: 14px;
  margin-top: 5px;
  color: #555;
}

.product-list.shop {
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.shop-page .category {
  display: flex;
  gap: 40px;

  max-width: 1200px;
  margin: 0 auto;
  padding-top: 60px;
}

.product-section {
  display: grid;
  max-width: 1200px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin: 0 auto;
  padding: 120px;
  gap: 60px;
}

.product-image img {
  aspect-ratio: 1 / 1;
  width: 100%;
  object-fit: contain;
  padding: 40px;
  background-color: rgb(240, 240, 240);
}