@font-face {
  font-family: fairplayDisplay;
  src: url(./assets/PlayfairDisplayVariable.ttf) format("truetype");
}

@font-face {
  font-family: quicksand;
  src: url(./assets/QuicksandVariable.ttf) format("truetype");
}

/* CSS RESET */

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}
ul,
li,
ol {
  padding-left: 0;
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
}

/* OWN CSS STARTS HERE */

body {
  font-family: quicksand, sans-serif;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 18px;
  padding: 5px 10px;
  transition: background-color 0.3s ease;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.cart-link {
  position: relative;
}

.cart-item-count {
  position: absolute;
  top: -8px;
  color: white;
  background-color: black;
  font-size: 12px;
  border-radius: 12px;
  padding: 2px 6px;
}

.home-link {
  font-family: fairplayDisplay, serif;
  font-size: 28px;
  font-weight: 400;
}

.hero-container {
  height: 740px;
}

.hero-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.new-arrivals {
  padding: 40px;
}

.new-arrivals-title,
.new-arrivals-description {
  text-align: center;
}

.new-arrivals-title {
  font-size: 32px;
  font-weight: 400;
}

.product-list {
  display: grid;
  max-width: 1200px;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 40px;
  margin-top: 40px;
}

.product-list img {
  aspect-ratio: 1 / 1;
  width: 100%;
  object-fit: contain;
  padding: 40px;
  background-color: rgb(240, 240, 240);
}

.product-title {
  font-size: 16px;
  font-weight: 500;
  margin-top: 10px;
}

.product-price {
  font-size: 14px;
  margin-top: 5px;
  color: #555;
}

.product-list.shop {
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.shop-page .category {
  display: flex;
  gap: 40px;

  max-width: 1200px;
  margin: 0 auto;
  padding-top: 60px;
}

.product-section {
  display: grid;
  max-width: 1200px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin: 0 auto;
  padding: 120px;
  gap: 60px;
}

.product-image img {
  aspect-ratio: 1 / 1;
  width: 100%;
  object-fit: contain;
  padding: 40px;
  background-color: rgb(240, 240, 240);
}

.product-detail > p {
  padding: 20px 0;
  color: #555;
  line-height: 1.6;
  border-bottom: 1px solid rgb(190, 190, 190);
  margin-bottom: 20px;
}

.quantity-selector {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 12px;
}

.add-to-cart-btn {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: black;
  color: white;
  border: 1px solid black;
  padding: 15px 30px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-to-cart-btn:hover {
  background-color: white;
  color: black;
}

.shopping-cart-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: flex-end;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.shopping-cart-overlay.open {
  pointer-events: auto;
  opacity: 1;
}

.shopping-cart {
  background-color: white;
  width: 430px;
  height: 100%;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.shopping-cart-overlay.open .shopping-cart {
  transform: translateX(0);
}

.cart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid rgb(220, 220, 220);
}

.cart-items {
  flex: 1;
  overflow-y: auto;

  padding: 0 20px;
}

.cart-items.empty {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #777;
}

.cart-item {
  display: grid;
  grid-template-columns: 80px 1fr;
  grid-template-rows: 120px;

  /* gap: 20px; */
  border-bottom: 1px solid rgb(220, 220, 220);
  padding: 20px 0;
}

.cart-item:last-child {
  border-bottom: none;
}

/* .cart-item-image {
  display: flex;
  align-items: center;
  justify-content: center;
} */

.cart-item-image img {
  width: 80px;
  height: 80px;
  object-fit: contain;
  background-color: rgb(240, 240, 240);
  padding: 10px;
}

.cart-item-details {
  display: grid;
  grid-template-rows: 1fr 1fr;

  padding: 0 20px;
}

.cart-item-details .bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cart-total {
  border-top: 1px solid rgb(220, 220, 220);
  padding: 20px;
  text-align: right;
}

.cart-total span {
  display: block;
  margin-top: 20px;
  padding-right: 20px;
}

.checkout-button {
  width: 100%;
  background-color: black;
  color: white;
  border: 1px solid black;
  padding: 15px 30px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 20px;
}

.checkout-button:hover {
  background-color: white;
  color: black;
}